@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-shadow-glow {
    text-shadow: 0 0 20px rgba(255, 179, 0, 0.5);
  }
}
